<div class="mgb">
    <nav class="navbar navbar-dark navbar-expand-sm  fixed-top">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" routerLink="/"> <img
                src="../../../assets/icons8-caja-de-herramientas.svg" alt="logo" height="40"
                width="80"></a>
        <div class="collapse navbar-collapse ml-2" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> <a class="nav-link" routerLink="/home"><span class="fa fa-home fa-lg"></span>
                        Inicio</a> </li>

                <li class="nav-item active"> <a class="nav-link" routerLink="/patient"><span
                            class="fa fa-home fa-lg"></span>
                        Crear Pacientes</a> </li>


            </ul>
           

        </div>


    </nav>
</div>
