.top-100{
    margin-top: 200px;
}
.o-text-p{
    margin-top: 0;
    
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    color: #634a9c;

}
.o-row{
    background-color: #eff1f380;
}
#btn-primary{
    border: none;
    border-radius: 10px;
}