.o-text{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    color: #634a9c;

}
.btn-primary{
    border: none;
    border-radius: 10px;
}